// - Almost White: hsl(0, 0%, 98%)
// - Medium Gray: hsl(0, 0%, 41%)
// - Almost Black: hsl(0, 0%, 8%)
@import "./menu.scss";
$colorGray: hsl(0, 0%, 41%);
$colorWhite: hsl(0, 0%, 41%);
$colorBlack: hsl(0, 0%, 41%);

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
  color: $colorGray;
}
h1 {
  margin: 0 0 0 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
}
.header {
  display: flex;
  max-width: 1046px;
  width: 100%;
  margin: 0 auto;
}
.footer {
  margin-top: 43px;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// Container section
.container {
  display: flex;
  flex-direction: column;
  gap: -3px;

  .headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15px 0 15px;
    @media (min-width: 768px) {
    }
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    gap: 115px;
    margin-top: 10px;
  }
}
.headers h1 {
  margin: 0;
  > a {
    text-decoration: none;
    color: rgb(18 18 18);
    font-size: 24px;
  }
  @media (min-width: 768px) {
    display: flex;
  }
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(5px); /* Apply a blur filter */
  z-index: 1; /* Ensure it's behind the popup */
  display: none; /* Initially hidden */
}
// Menu
.child-list {
  margin-left: auto; /* Push these list items to the rightmost part */
}
.paragraph {
  color: #686868;
  font-size: 14px;
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  right: 0;
  transform: translateX(100%);
  transition: 250ms;

  > ul {
    padding: 0;
    width: 100vh;
  }

  .droper {
    position: absolute;
    border-radius: 10px;
    left: 56px;
    transition: 250ms;
  }
  .droper::before,
  .droper::after {
    content: "";
    position: absolute;
    border-top: 2px solid $colorBlack;
    width: 6px;
    border-radius: 10px;
    left: 24px;
    transition: 250ms;
    @media (min-width: 768px) {
      width: 6px;
    }
  }
  .droper::before {
    top: 7px;
    left: 27px;
    transform: rotate(-45deg);
    @media (min-width: 768px) {
      width: 6px;
      left: 2px;
      transform: rotate(45deg);
    }
  }
  .droper::after {
    top: 7px;
    right: -10px;
    transform: rotate(45deg);
    @media (min-width: 768px) {
      width: 6px;
      left: 6px;
      transform: rotate(-45deg);
    }
  }
  .droper1 {
    position: absolute;
    width: 6px;
    border-radius: 10px;
    left: 56px;
    transition: 250ms;
  }
  .droper1::before,
  .droper1::after {
    content: "";
    position: absolute;
    border-top: 2px solid $colorBlack;
    width: 6px;
    border-radius: 10px;
    left: 24px;
    transition: 250ms;

    @media (min-width: 768px) {
      width: 6px;
      left: 6px;
    }
  }

  .droper1::before {
    top: 7px;
    left: 27px;
    transform: rotate(45deg);
    @media (min-width: 768px) {
      width: 6px;
      left: 3px;
      transform: rotate(-45deg);
    }
  }
  .droper1::after {
    top: 7px;
    right: -10px;
    transform: rotate(-45deg);
    @media (min-width: 768px) {
      transform: rotate(45deg);

    }
  }
  &.show {
    width: 230px;
    background-color: white;
    z-index: 2;
    padding-top: 50px;
    height: 100vh;
    transform: translateX(0);
    transition: 250ms;
    .show .dropdown {
      display: flex;
    }
    .dropdown {
      display: none;
    }
  }

  @media (min-width: 768px) {
    position: static;
    transform: translateX(0);
    .dropdown {
      display: none;
      background-color: rgb(255 255 255);
      border-radius: 10px;

      &.other {
        left: -68px;
      }
    }
    .show .dropdown {
      display: block;
      position: absolute;
      padding: 20px;
      width: 157px;
      top: 58px;
      > li {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 5px 10px 5px 10px;
      }
      box-shadow: 1px 6px 20px 0px rgb(47 47 47 / 28%);
    }
  }
  .atemp {
    display: flex;
    flex-direction: column;
    > ul {
      display: flex;
      gap: 20px;
      flex-direction: column;
    }
    @media (min-width: 768px) {
      justify-content: center;

      > ul {
        display: flex;
        flex-direction: row;
        gap: 48px;
      }
    }
  }
  .temp {
    align-items: center;
  }
  .temp1 {
    display: flex;
    gap: 11px;
    color: $colorGray;
    font-size: 12px;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
    }
  }
  .temp3 {
    display: flex;
    gap: 36px;
    color: $colorGray;
    font-size: 12px;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .reg {
      padding: 5px 10px 5px 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      border: 1px solid $colorBlack;
      padding: 9px;
      border-radius: 10px;
    }
  }
}
.menu a {
  margin: 0;
  cursor: pointer;
  @media (min-width: 776px) {
    position: relative;
  }
}

//
.dropdown {
  display: none;
  flex-direction: column;
  padding: 10px 0 0 8px;
  font-weight: 500;

  > li {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    flex-direction: row;
  }
  > h4 {
    padding: 200px;
  }
}
.drop {
  display: none;
  position: relative;
  left: 20px;
  background-color: blue;
  width: 20px;
  height: 20px;
}
.mobile-menu {
  position: fixed;
  top: 18px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
  width: 25px;
  background-color: transparent;
  padding: 0;
  border: 0;
  color: transparent;
  border-top: 2px solid black;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-top: 2px solid black;
    width: 100%;
    left: 0;
    transition: 250ms;
  }
  &::after {
    top: 4px;
    border-radius: 20px;
  }
  &::before {
    top: 10px;
    border-radius: 20px;
  }
  &.active {
    border: 0;
    border: 0;

    &::before {
      rotate: 45deg;
      top: 5px;
      border-radius: 20px;
    }
    &::after {
      rotate: -45deg;
      top: 5px;
      border-radius: 20px;
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.logo img {
  width: 100%;
  margin: auto;
  max-width: 285px;
  @media (min-width: 768px) {
    width: 100%;
    margin: auto;
    /* padding-top: 90px; */
    max-width: 343px;
    height: 475px;
  }
}

//body
.body-contents {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items horizontally */
  align-items: center;
  gap: 20px;
  /* margin: 20px 0px 0px 0px; */
  @media (min-width: 768px) {
    > h2 {
      font-size: 45px;
    }
    align-items: start;
    width: 397px;
  }
}

.body-contents a {
  display: flex;
  justify-content: center;
  background: rgb(32, 32, 32);
  padding: 11px 15px 11px 15px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  width: 130px;
  border: 2px solid transparent;

  &:hover {
    background-color: transparent;
    color: $colorBlack;
    border: 2px solid $colorBlack;

  }
}

.body-contents h2 {
  margin: 19px 0 0 10px;
  color: rgb(18, 18, 18);
  font-size: 35px;
  @media (min-width: 768px) {
    font-size: 60px;
    margin: 101px 0 0 0;
    line-height: 1;
  }
}
.body-contents article {
  text-align: center;
  font-size: 18px;
  margin: 0;

  @media (min-width: 768px) {
    text-align: left;
    float: left;
  }
}
.logos {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  gap: 29px;
  margin: 10px 5px 30px 5px;

  @media (min-width: 768px) {
    // > li {
    //   width: 20px;
    // }
  }
}
